<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{ if eq .Role "admin" }}

    <p>Admin Panel</p>

    <a href="/"><button>{{ .RootName }}</button></a>
    <a href="/login"><button>{{ .LoginName }}</button></a>
    <a href="/login/login-submit"><button>{{ .LoginSubmitName }}</button></a>
    <a href="/registration"><button>{{.RegistrationName}}</button></a>
    <a href="/registration/registration-submit"><button>{{.RegistrationSubmitName}}</button></a>
    <a href="/logout"><button>{{ .LogoutName }}</button></a>
    <a href="/profile"><button>{{ .ProfileName }}</button></a>
    <a href="/profile/edit"><button>{{ .ProfileEditName }}</button></a>
    <a href="/profile/edit/edit-submit"><button>{{ .ProfileEditSubmitName }}</button></a>

    <p>--------</p>

    <a href="/"><button>{{.RootName}}</button></a>
    <a href="/profile"><button>{{.ProfileName}}</button></a>

    <h1>Edit Profile</h1>

    <form action="edit/edit-submit" method="POST">

        <label for="nickname">Nickname</label><br>
        <input type="text" id="nickname" name="nickname"><br><br>

        <label for="bio">Bio</label><br>
        <input type="text" id="bio" name="bio"><br><br>

        <input type="submit" value="Submit">
    </form>

    {{ end }}

    {{ if eq .Role "user" }}

    <a href="/"><button>{{.RootName}}</button></a>
    <a href="/profile"><button>{{.ProfileName}}</button></a>

    <h1>Edit Profile</h1>

    <form action="edit/edit-submit" method="POST">

        <label for="nickname">Nickname</label><br>
        <input type="text" id="nickname" name="nickname"><br><br>

        <label for="bio">Bio</label><br>
        <input type="text" id="bio" name="bio"><br><br>

        <input type="submit" value="Submit">
    </form>

    {{ end }}
</body>
</html>